@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Gift cards</h3>
<ul>
    @foreach (var id in Model.GiftCardIds)
    {
        <li>
            <a asp-page="/GiftCards/Details" asp-route-id="@id">@id</a>
        </li>
    }
</ul>

<div>
    <a class="btn btn-primary" asp-page="/GiftCards/Create">New gift card</a>
</div>

