@page
@model Samples.WebApp.Pages.Accounts.DetailsModel
@{
    ViewData["Title"] = "Account details";
}

<h2>Account #@Model.Account.Id</h2>

<dl>
    <dt>Name</dt>
    <dd>@Model.Account.Name</dd>
</dl>