@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a class="btn btn-primary" asp-page="/Accounts/Create">New account</a>
<hr />

<h3>Existing accounts</h3>
<ul>
    @foreach (var accountId in Model.AccountIds)
    {
        <li>
            <a asp-page="/Accounts/Details" asp-route-id="@accountId">@accountId</a>
        </li>
    }
</ul>